@media(max-width: 1600px)
  .container
    max-width: 1280px

  .subtitle
    font-size: 14px

  .label
    input, textarea
      font-size: 24px
    input
      height: 56px

  .btn
    width: auto
    height: auto
    padding: 15px 23px
    line-height: 18px
    font-size: 14px
    &::after
      width: 18px
      height: 18px

  .header
    height: 75px
    &-logo img
      height: 44px
    &-nav
      font-size: 14px
      li
        a
          padding: 11px 23px

  .hero
    padding: 170px 0
    min-height: 0
    &-title
      font-size: 80px
      max-width: 740px
    .subtitle
      max-width: 440px
      margin-bottom: 32px

  .what
    padding: 100px 0
    min-height: 0
    &-title
      font-size: 64px
      font-weight: 400
      max-width: 800px
      margin-bottom: 14px
    .subtitle
      margin-bottom: 44px

  .stats
    padding: 40px 0
    &-item
      height: 240px
      h3
        font-size: 90px

  .team
    padding: 100px 0
    &-title
      font-size: 64px
    &-item
      height: 528px
      &__text
        h4
          font-size: 16px

  .contact
    padding: 100px 0
    &-title
      font-size: 64px
    &-form
      margin-top: 60px

  .footer
    height: 740px
    &-label
      p
        font-size: 32px
      a
        font-size: 14px
        line-height: 18px
    &-links
      font-size: 14px

  .about
    padding-top: 200px
    min-height: 940px
    &-title
      font-size: 64px
      max-width: 950px
      margin-bottom: 11px
    .subtitle
      margin-bottom: 40px

  .tools
    padding: 100px 0 0
    &-title
      font-size: 64px
      max-width: 760px
      margin-bottom: 24px
    &-grid
      margin-top: 40px
      gap: 24px
    &-block
      max-width: calc(100% / 2 - 12px)
      &__title
        font-size: 18px
        margin-bottom: 24px
      &__subtitle
        font-size: 14px
        margin-top: 24px
      &__list
        font-size: 14px
        li
          padding: 13px 19px

  .faq
    padding: 0
    &-title
      font-size: 64px
    &-list
      max-width: 960px
      margin-left: auto
      margin-right: auto
    &-item
      &__title
        padding: 24px 0
        font-size: 18px
      &__text
        padding: 24px 0
        font-size: 14px
