<footer class="footer">
  <div class="footer-map"><iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/as118/clea1nohw009n01qmpbvrvr31.html?title=false&access_token=pk.eyJ1IjoiYXMxMTgiLCJhIjoiY2p0dmk5cnhxMDgxbzRlcDhwejkyNXNvNCJ9.r2yLLtyvuQh6gNYAkeEVlw&zoomwheel=false#13.48/34.4498/-118.57221" title="Monochrome" style="border:none;"></iframe></div>
  <div class="container">
    <div class="footer-label">
      <span>Email</span>
      <p>info@datamaze.tech</p>
      <a href="mailto:info@datamaze.tech">Go to <i>text us</i></a>
    </div>
    <div class="footer-label">
      <span>Phone number</span>
      <p>+1 323 250 0644</p>
      <a href="tel:+1 323 250 0644" target="_blank">Start <i>call</i></a>
    </div>
    <div class="footer-label">
      <span>Office address location</span>
      <p>Constellation Rd, Santa Clarita, CA 91355</p>
      <a href="https://www.google.com/maps/place/Rye+Canyon+Business+Park/@34.4545983,-118.5875228,16z/data=!4m6!3m5!1s0x80c27de088616773:0xa2594b39c6deac81!8m2!3d34.4546127!4d-118.5779571!16s%2Fg%2F11h_48fjmg" target="_blank">Go to <i>Google maps</i></a>
    </div>
    <ul class="footer-links">
      <li><a href="/privacy.html">Privacy Policy</a></li>
      <li><a href="/terms.html">Terms and Conditions</a></li>
    </ul>
  </div>
  <img src="img/glow.png" alt="" class="footer-glow">
</footer>