<footer class="footer">
  <div class="container">
    <div class="footer-label">
      <span>Email</span>
      <p>asd@asd.com</p>
      <a href="#">Go to <i>text us</i></a>
    </div>
    <div class="footer-label">
      <span>Office address location</span>
      <p>71 stanley avehastings on hudson ny 10706-2609</p>
      <a href="#">Go to <i>Google maps</i></a>
    </div>
    <ul class="footer-links">
      <li><a href="/privacy.html">Privacy Policy</a></li>
      <li><a href="/terms.html">Terms and Conditions</a></li>
    </ul>
  </div>
  <img src="img/footer-glow.png" alt="" class="footer-glow">
</footer>