<section class="contact">
  <img src="img/contact-bg.jpg" alt="" class="contact-bg">
  <div class="container">
    <h2 class="contact-title">Contact Us:</h2>
    <h3 class="subtitle">Preparing your business to withstand any</h3>
    <form action="#" method="post" class="contact-form">
      <label class="label">
        <p>E-mail</p>
        <input type="email" name="email" placeholder="youremail@mail.com" />
      </label>
      <label class="label">
        <p>Name</p>
        <input type="text" name="name" placeholder="Name" />
      </label>
      <label class="label">
        <p>Text</p>
        <textarea name="text" rows="6" placeholder="Text"></textarea>
      </label>
      <button type="submit" class="btn-submit">Submit</button>
    </form>
  </div>
</section>