<section class="team">
  <div class="container">
    <h2 class="team-title">Our team</h2>
    <h3 class="subtitle">We work tirelessly to help our clients harness</h3>
    <div class="team-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="team-item">
            <img src="img/man_one.png" alt="" class="team-item__img">
            <div class="team-item__text">
              <h4>Jonathan Crey</h4>
              <span>CEO</span>
              <p>At the helm of our organization is Jonathan Crey, a visionary leader with a proven track record of driving success through strategic direction and fostering a culture of collaboration. With a wealth of experience in Cyber Security, Jonathan leads our diverse team with passion and dedication, inspiring innovation and excellence in all our endeavors.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <img src="img/man_two.png" alt="" class="team-item__img">
            <div class="team-item__text">
              <h4>Mathew T.</h4>
              <span>CTO</span>
              <p>At the forefront of our technological advancements is Mathew T., our esteemed Chief Technology Officer. With a deep understanding of emerging technologies and a passion for innovation, Mathew T. leads our talented team of engineers and developers, driving forward our commitment to cutting-edge solutions and unparalleled technical excellence.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <img src="img/man_one.png" alt="" class="team-item__img">
            <div class="team-item__text">
              <h4>Joey S.</h4>
              <span> CISO</span>
              <p>Leading our organization's cybersecurity efforts is Joey S., our esteemed Chief Information Security Officer. With a steadfast commitment to safeguarding our digital assets and ensuring data integrity, Joey S. orchestrates comprehensive security strategies and fosters a culture of vigilance across our team. With his expertise and proactive approach, we confidently navigate the complex landscape of digital threats and maintain the trust of our stakeholders.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <img src="img/woman.png" alt="" class="team-item__img">
            <div class="team-item__text">
              <h4>Amanda H.</h4>
              <span>Human Resource</span>
              <p>At the heart of our organization's people-centric initiatives is Amanda H., our dedicated Head of Human Resources. With a focus on nurturing talent, fostering employee well-being, and cultivating a culture of inclusivity and growth, Amanda H. plays a pivotal role in shaping our workforce into a cohesive and high-performing team. Through strategic HR practices and a commitment to employee development, she ensures that our organization remains a dynamic and rewarding place to work.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <img src="img/man_one.png" alt="" class="team-item__img">
            <div class="team-item__text">
              <h4>Sergey Z.</h4>
              <span>Big Data Lead</span>
              <p>Driving our data-driven strategies forward is Sergey Z., our accomplished Big Data Lead. With a deep understanding of data analytics and a passion for unlocking insights, Sergey Z. spearheads our efforts in harnessing the power of big data to drive informed decision-making and fuel innovation. With his expertise in managing complex datasets and implementing cutting-edge analytics tools, he plays a pivotal role in shaping our organization's data-driven future.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <img src="img/man_two.png" alt="" class="team-item__img">
            <div class="team-item__text">
              <h4>Ahmed C.</h4>
              <span>Lead of Pentest Team</span>
              <p>At the forefront of our cybersecurity defense is Ahmed C., our esteemed Lead of Pentest Team. With a wealth of experience in identifying and mitigating digital threats, Ahmed C. leads our dedicated team in safeguarding our systems and data from ever-evolving risks. Through strategic planning, proactive measures, and a commitment to staying ahead of emerging threats, he ensures the resilience and security of our digital infrastructure, enabling our organization to operate with confidence in an increasingly complex digital landscape.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>