<section class="team">
  <div class="container">
    <h2 class="team-title">Our team</h2>
    <h3 class="subtitle">We work tirelessly to help our clients harness</h3>
    <div class="team-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="team-item">
            <img src="img/man_one.png" alt="" class="team-item__img">
            <div class="team-item__text">
              <h4>Jonathan Crey</h4>
              <span>CEO</span>
              <p>We believe in the power of data to transform businesses, drive innovation, and create a meaningful impact</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <img src="img/man_two.png" alt="" class="team-item__img">
            <div class="team-item__text">
              <h4>Mathew T.</h4>
              <span>CTO</span>
              <p>We believe in the power of data to transform businesses, drive innovation, and create a meaningful impact</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <img src="img/man_one.png" alt="" class="team-item__img">
            <div class="team-item__text">
              <h4>Joey S.</h4>
              <span> CISO</span>
              <p>We believe in the power of data to transform businesses, drive innovation, and create a meaningful impact</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <img src="img/woman.png" alt="" class="team-item__img">
            <div class="team-item__text">
              <h4>Amanda H.</h4>
              <span>Human Resource</span>
              <p>We believe in the power of data to transform businesses, drive innovation, and create a meaningful impact</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <img src="img/man_one.png" alt="" class="team-item__img">
            <div class="team-item__text">
              <h4>Sergey Z.</h4>
              <span>Big Data Lead</span>
              <p>We believe in the power of data to transform businesses, drive innovation, and create a meaningful impact</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <img src="img/man_two.png" alt="" class="team-item__img">
            <div class="team-item__text">
              <h4>Ahmed C.</h4>
              <span>Cyber Security Lead</span>
              <p>We believe in the power of data to transform businesses, drive innovation, and create a meaningful impact</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>