<section class="team">
  <div class="container">
    <h2 class="team-title">Our team</h2>
    <h3 class="subtitle">We work tirelessly to help our clients harness</h3>
    <div class="team-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="team-item">
            <div class="team-item__text">
              <h4>Mathieu Ducharme</h4>
              <span>Partner - Technical Director</span>
              <p>We believe in the power of data to transform businesses, drive innovation, and create a meaningful impact</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <div class="team-item__text">
              <h4>Mathieu Ducharme</h4>
              <span>Partner - Technical Director</span>
              <p>We believe in the power of data to transform businesses, drive innovation, and create a meaningful impact</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <div class="team-item__text">
              <h4>Mathieu Ducharme</h4>
              <span>Partner - Technical Director</span>
              <p>We believe in the power of data to transform businesses, drive innovation, and create a meaningful impact</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <div class="team-item__text">
              <h4>Mathieu Ducharme</h4>
              <span>Partner - Technical Director</span>
              <p>We believe in the power of data to transform businesses, drive innovation, and create a meaningful impact</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-item">
            <div class="team-item__text">
              <h4>Mathieu Ducharme</h4>
              <span>Partner - Technical Director</span>
              <p>We believe in the power of data to transform businesses, drive innovation, and create a meaningful impact</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>