.team
  padding: 140px 0 120px
  &-title
    font-size: 90px
    font-weight: 400
    line-height: 1
    margin-bottom: 24px
    text-align: center
  .subtitle
    margin: 0 auto
    text-align: center
  &-slider
    margin-top: 48px
    .swiper-slide-active,
    .swiper-slide-next,
    .swiper-slide-next + .swiper-slide
      .team-item
        opacity: 1
  &-item
    border-radius: 4px
    background: linear-gradient(171deg, rgba(9, 20, 58, 0.52) 7.1%, rgba(1, 8, 27, 0.14) 77.92%), linear-gradient(171deg, rgba(9, 20, 58, 0.52) 7.1%, #01081B 77.92%)
    height: 608px
    @include flexbox
    flex-direction: column
    align-items: flex-start
    padding: 32px
    border: 1px solid transparent
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    will-change: transform
    transition: .25s
    position: relative
    overflow: hidden
    opacity: 0.5
    &::after
      content: ''
      position: absolute
      top: 20px
      left: 20px
      width: 20px
      height: 16px
      background: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='8' r='1.5' stroke='url(%23paint0_linear_197_15241)'/%3E%3Ccircle cx='18.5' cy='1.5' r='1' stroke='url(%23paint1_linear_197_15241)'/%3E%3Ccircle cx='18.5' cy='5.5' r='1' stroke='url(%23paint2_linear_197_15241)'/%3E%3Ccircle cx='18.5' cy='10.5' r='1' stroke='url(%23paint3_linear_197_15241)'/%3E%3Ccircle cx='18.5' cy='14.5' r='1' stroke='url(%23paint4_linear_197_15241)'/%3E%3Ccircle cx='1.5' cy='1.5' r='1' stroke='url(%23paint5_linear_197_15241)'/%3E%3Ccircle cx='1.5' cy='5.5' r='1' stroke='url(%23paint6_linear_197_15241)'/%3E%3Ccircle cx='5.5' cy='3.5' r='1' stroke='url(%23paint7_linear_197_15241)'/%3E%3Ccircle cx='4.5' cy='8' r='1' stroke='url(%23paint8_linear_197_15241)'/%3E%3Ccircle cx='15.5' cy='8' r='1' stroke='url(%23paint9_linear_197_15241)'/%3E%3Ccircle cx='14.5' cy='3.5' r='1' stroke='url(%23paint10_linear_197_15241)'/%3E%3Ccircle cx='5.5' cy='12.5' r='1' stroke='url(%23paint11_linear_197_15241)'/%3E%3Ccircle cx='1.5' cy='10.5' r='1' stroke='url(%23paint12_linear_197_15241)'/%3E%3Ccircle cx='14.5' cy='12.5' r='1' stroke='url(%23paint13_linear_197_15241)'/%3E%3Ccircle cx='1.5' cy='14.5' r='1' stroke='url(%23paint14_linear_197_15241)'/%3E%3Cpath d='M11.5 6.5L13.5 4.5M11.5 9.5L13.5 11.5M8.5 9.5L6.5 11.5M8.5 6.5L6.5 4.5M15.5 3L17.5 2M15.5 4L17.5 5M15.5 12L17.5 11M15.5 13L17.5 14M4.5 3L2.5 2M4.5 4L2.5 5M4.5 12L2.5 11M4.5 13L2.5 14M5.5 8H8.5M11.5 8H14.5' stroke='url(%23paint15_linear_197_15241)' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_197_15241' x1='9.24198' y1='4.28947' x2='12.8877' y2='4.86079' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_197_15241' x1='17.9315' y1='-1.28289' x2='20.6658' y2='-0.854404' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_197_15241' x1='17.9315' y1='2.71711' x2='20.6658' y2='3.1456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_197_15241' x1='17.9315' y1='7.71711' x2='20.6658' y2='8.1456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_197_15241' x1='17.9315' y1='11.7171' x2='20.6658' y2='12.1456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_197_15241' x1='0.931487' y1='-1.28289' x2='3.66576' y2='-0.854404' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear_197_15241' x1='0.931487' y1='2.71711' x2='3.66576' y2='3.1456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint7_linear_197_15241' x1='4.93149' y1='0.717106' x2='7.66576' y2='1.1456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint8_linear_197_15241' x1='3.93149' y1='5.21711' x2='6.66576' y2='5.6456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint9_linear_197_15241' x1='14.9315' y1='5.21711' x2='17.6658' y2='5.6456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint10_linear_197_15241' x1='13.9315' y1='0.717106' x2='16.6658' y2='1.1456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint11_linear_197_15241' x1='4.93149' y1='9.71711' x2='7.66576' y2='10.1456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint12_linear_197_15241' x1='0.931487' y1='7.71711' x2='3.66576' y2='8.1456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint13_linear_197_15241' x1='13.9315' y1='9.71711' x2='16.6658' y2='10.1456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint14_linear_197_15241' x1='0.931487' y1='11.7171' x2='3.66576' y2='12.1456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint15_linear_197_15241' x1='7.15743' y1='-3.13158' x2='20.6469' y2='-0.489142' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D269C'/%3E%3Cstop offset='1' stop-color='%239D69D5'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      right: 0
      top: 0
      background: url(../img/team-item.png) no-repeat bottom left
      opacity: 0
      transition: .25s
      z-index: 3
    &__img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
    &__text
      margin-top: auto
      width: 100%
      max-width: 350px
      position: relative
      z-index: 5
      h4
        font-size: 20px
        font-weight: 400
        line-height: 1
        margin-bottom: 16px
      span
        line-height: 1.4
        color: var(--color-gray)
        transition: .25s
        font-size: 14px
      p
        line-height: 1.4
        color: var(--color-gray)
        padding-top: 8px
        max-height: 0px
        overflow: hidden
        transition: .25s
    &:hover
      border-color: rgba(255,255,255,.1)
      &::before
        opacity: 1
      .team-item__text
        p
          max-height: 130px
