{% extends 'components/_layout.html' %}
{% set site_title = 'About Us' %}
{% set about = true %}

{% block content %}

{% include 'components/team.html' %}

<section class="faq">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <h3 class="subtitle">That helps customers to ensure the security</h3>
    <div class="faq-list">
      <div class="faq-item open">
        <div class="faq-item__title">That helps customers to ensure the security </div>
        <div class="faq-item__content">
          <div class="faq-item__text">That helps customers to ensure the security of their systems and applications. We find vulnerabilities that can be used by attackers to gain unauthorized access to the system.That helps customers to ensure the security of their systems and applications. We find vulnerabilities that can be used by attackers to gain unauthorized access to the system.</div>
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-item__title">That helps customers to ensure the security </div>
        <div class="faq-item__content">
          <div class="faq-item__text">That helps customers to ensure the security of their systems and applications. We find vulnerabilities that can be used by attackers to gain unauthorized access to the system.That helps customers to ensure the security of their systems and applications. We find vulnerabilities that can be used by attackers to gain unauthorized access to the system.</div>
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-item__title">That helps customers to ensure the security </div>
        <div class="faq-item__content">
          <div class="faq-item__text">That helps customers to ensure the security of their systems and applications. We find vulnerabilities that can be used by attackers to gain unauthorized access to the system.That helps customers to ensure the security of their systems and applications. We find vulnerabilities that can be used by attackers to gain unauthorized access to the system.</div>
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-item__title">That helps customers to ensure the security </div>
        <div class="faq-item__content">
          <div class="faq-item__text">That helps customers to ensure the security of their systems and applications. We find vulnerabilities that can be used by attackers to gain unauthorized access to the system.That helps customers to ensure the security of their systems and applications. We find vulnerabilities that can be used by attackers to gain unauthorized access to the system.</div>
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-item__title">That helps customers to ensure the security </div>
        <div class="faq-item__content">
          <div class="faq-item__text">That helps customers to ensure the security of their systems and applications. We find vulnerabilities that can be used by attackers to gain unauthorized access to the system.That helps customers to ensure the security of their systems and applications. We find vulnerabilities that can be used by attackers to gain unauthorized access to the system.</div>
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-item__title">That helps customers to ensure the security </div>
        <div class="faq-item__content">
          <div class="faq-item__text">That helps customers to ensure the security of their systems and applications. We find vulnerabilities that can be used by attackers to gain unauthorized access to the system.That helps customers to ensure the security of their systems and applications. We find vulnerabilities that can be used by attackers to gain unauthorized access to the system.</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'components/contact.html' %}

{% include 'components/_footer.html' %}

{% endblock %}