{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="hero">
  <img src="img/hero-bg.jpg" alt="" class="hero-bg">
  <div class="container">
    <h1 class="hero-title">Evolution of Big Data Ecosystems</h1>
    <h3 class="subtitle">Preparing your business to withstand any cyber threat. It's not a matter of IF, but WHEN a cyber attack will take place.</h3>
    <div class="btn-wrap"><a href="/contact.html" class="btn"><p>Go to <span>/Contact Us:</span></p></a></div>
  </div>
</section>

<section class="what">
  <div class="container">
    <h4 class="what-label">What is DataMaze?</h4>
    <h2 class="what-title"><span>We believe in the power of data to transform businesses,</span> drive innovation, and create a meaningful impact</h2>
    <h3 class="subtitle">We work tirelessly to help our clients harness the full potential of their data, providing comprehensive</h3>
    <div class="btn-wrap"><a href="/about.html" class="btn"><p>Go to <span>/About:</span></p></a></div>
  </div>
</section>

{% include 'components/_footer.html' %}

{% endblock %}