{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="hero">
  <img src="img/hero-bg.jpg" alt="" class="hero-bg">
  <div class="container">
    <h1 class="hero-title">Evolution of Big Data Ecosystems</h1>
    <h3 class="subtitle">Preparing your business to withstand any cyber threat. It's not a matter of IF, but WHEN a cyber attack will take place.</h3>
    <div class="btn-wrap"><a href="#" class="btn"><p>Go to <span>/Contact Us:</span></p></a></div>
  </div>
</section>

{% include 'components/_footer.html' %}

{% endblock %}