{% extends 'components/_layout.html' %}
{% set site_title = 'Home' %}
{% set home = true %}

{% block content %}

<section class="hero">
  <div class="hero-bg">
    <video preload="" playsinline="" autoplay="" loop="" muted="">
      <source src="hero.mp4" type="video/mp4">
    </video>
    <img src="img/hero-glow.png" alt="">
  </div>
  <div class="container">
    <h1 class="hero-title">Unleashing Insights, Fortifying your security!</h1>
    <h3 class="subtitle">We pioneer the fusion of Big Data brilliance and Cybersecurity expertise, safeguarding digital landscapes and unlocking unparalleled insights for a secure and informed tomorrow.</h3>
    <div class="btn-wrap"><a href="/contact.html" class="btn"><p>Go to <span>/Contact Us:</span></p></a></div>
  </div>
</section>

<section class="what">
  <div class="container">
    <h4 class="what-label">What is DataMaze?</h4>
    <h2 class="what-title"><span>We believe in the power of data to transform businesses,</span> drive innovation, and create a meaningful impact</h2>
    <h3 class="subtitle">We work tirelessly to help our clients harness the full potential of their data, providing comprehensive</h3>
    <div class="btn-wrap"><a href="/about.html" class="btn"><p>Go to <span>/About:</span></p></a></div>
  </div>
</section>

<section class="stats">
  <div class="container">
    <div class="stats-grid">
      <div class="stats-item satisfied">
        <h3>50+</h3>
        <p>CUSTOMERS SATISFIED</p>
      </div>
      <div class="stats-item tested">
        <h3>100+</h3>
        <p>Services Tested</p>
      </div>
      <div class="stats-item protection">
        <h3>30+</h3>
        <p>WEBSITE PROTECTED</p>
      </div>
      <div class="stats-item pteam">
        <h3>14</h3>
        <p>Programmers team</p>
      </div>
    </div>
  </div>
</section>

{% include 'components/team.html' %}

</div>

<section class="services">
  <div class="container">
    <div class="services-head">
      <h2 class="services-title">Services</h2>
      <h3 class="subtitle">We provide cutting-edge services and competitive prices</h3>
    </div>
  </div>
  <div class="services-section">
    <video preload="" playsinline="" autoplay="" loop="" muted=""><source src="service.mp4" type="video/mp4"></video>
    <div class="services-section__text">
      <h2>Threat Detection &&nbsp;Response:</h2>
      <h4>Real-time defense against cyber threats using advanced Big Data analytics.</h4>
      <div class="btn-wrap"><a href="services.html" class="btn"><p>Go to <span>/services</span></p></a></div>
    </div>
  </div>
  <div class="services-section">
    <video preload="" playsinline="" autoplay="" loop="" muted=""><source src="service.mp4" type="video/mp4"></video>
    <div class="services-section__text">
      <h2>Strategic Data Analytics:</h2>
      <h4>Transform raw data into actionable insights for informed decision-making, ensuring data security.</h4>
      <div class="btn-wrap"><a href="services.html" class="btn"><p>Go to <span>/services</span></p></a></div>
    </div>
  </div>
  <div class="services-section">
    <video preload="" playsinline="" autoplay="" loop="" muted=""><source src="service.mp4" type="video/mp4"></video>
    <div class="services-section__text">
      <h2>Cybersecurity Audits:</h2>
      <h4>Comprehensive assessments identifying vulnerabilities and providing tailored solutions for fortified digital resilience.</h4>
      <div class="btn-wrap"><a href="services.html" class="btn"><p>Go to <span>/services</span></p></a></div>
    </div>
  </div>
</section>

<div class="wrapper">

{% include 'components/contact.html' %}

{% include 'components/_footer.html' %}

{% endblock %}