{% extends 'components/_layout.html' %}
{% set site_title = 'Services' %}
{% set services = true %}

{% block content %}

<section class="services-page">
  <img src="img/page-bg.jpg" alt="" class="services-page__bg">
  <img src="img/glow.png" alt="" class="services-page__glow">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/services.html">Services</a></li>
    </ul>
    <h2 class="services-page__title">Services</h2>
    <h3 class="subtitle">We work tirelessly to help our clients harness the full potential of their data, providing comprehensive</h3>
    <div class="services-grid">
      <div class="services-item">
        <div class="services-item__label">
          <img src="img/svg/label-1.svg" alt="">
          <p style="color: #9D69D5;">Big data</p>
        </div>
        <h3 class="services-item__title">Our portfolio that is freely tradeable</h3>
        <ul class="services-item__list">
          <li>
            <span>Big One</span>
            <p>We work tirelessly to help our clients harness the full </p>
          </li>
          <li>
            <span>Big Three</span>
            <p>We work tirelessly to help our clients harness the full potential of their data, providing comprehensive </p>
          </li>
        </ul>
        <a href="/contact.html" class="btn"><p>Go to <span>/Contact Us:</span></p></a>
      </div>
      <div class="services-item">
        <div class="services-item__label">
          <img src="img/svg/label-2.svg" alt="">
          <p style="color: #1BFEFE;">Big data</p>
        </div>
        <h3 class="services-item__title">Analyzed to understand a threat actor's motives</h3>
        <ul class="services-item__list">
          <li>
            <span>Big One</span>
            <p>We work tirelessly to help our clients harness the full </p>
          </li>
          <li>
            <span>Big Three</span>
            <p>We work tirelessly to help our clients harness the full potential of their data, providing comprehensive </p>
          </li>
        </ul>
        <a href="/contact.html" class="btn"><p>Go to <span>/Contact Us:</span></p></a>
      </div>
      <div class="services-item">
        <div class="services-item__label">
          <img src="img/svg/label-3.svg" alt="">
          <p style="color: #CB44FB;">Big data</p>
        </div>
        <h3 class="services-item__title">A simulated cyber-attack, such as red teaming</h3>
        <ul class="services-item__list">
          <li>
            <span>Big One</span>
            <p>We work tirelessly to help our clients harness the full </p>
          </li>
          <li>
            <span>Big Three</span>
            <p>We work tirelessly to help our clients harness the full potential of their data, providing comprehensive </p>
          </li>
        </ul>
        <a href="/contact.html" class="btn"><p>Go to <span>/Contact Us:</span></p></a>
      </div>
    </div>
  </div>
</section>

{% endblock %}