{% extends 'components/_layout.html' %}
{% set site_title = 'Services' %}
{% set services = true %}

{% block content %}

<section class="services-page">
  <img src="img/page-bg.jpg" alt="" class="services-page__bg">
  <img src="img/glow.png" alt="" class="services-page__glow">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/services.html">Services</a></li>
    </ul>
    <h2 class="services-page__title">Services</h2>
    <h3 class="subtitle">We work tirelessly to help our clients harness the full potential of their data, providing comprehensive</h3>
    <div class="services-grid">
      <div class="services-item">
        <div class="services-item__label">
          <img src="img/svg/label-1.svg" alt="">
          <p style="color: #9D69D5;">Red Team</p>
        </div>
        <h3 class="services-item__title">Penetration Testing</h3>
        <ul class="services-item__list">
          <li>
            <p>Offer comprehensive penetration testing services to identify vulnerabilities in clients' networks, systems, and applications. Conduct simulated attacks to assess the effectiveness of existing security measures and provide detailed reports with recommendations for remediation.</p>
          </li>
        </ul>
        <a href="/contact.html" class="btn"><p>Go to <span>/Contact Us:</span></p></a>
      </div>
      <div class="services-item">
        <div class="services-item__label">
          <img src="img/svg/label-2.svg" alt="">
          <p style="color: #1BFEFE;">Defence</p>
        </div>
        <h3 class="services-item__title">Security Assessment and Compliance</h3>
        <ul class="services-item__list">
          <li>
            <p>Provide security assessments and compliance audits tailored to meet industry standards and regulatory requirements such as GDPR, HIPAA, ISO 27001, or PCI DSS. Evaluate clients' security posture, policies, and procedures to ensure they meet legal and industry-specific security standards.</p>
          </li>
        </ul>
        <a href="/contact.html" class="btn"><p>Go to <span>/Contact Us:</span></p></a>
      </div>
      <div class="services-item">
        <div class="services-item__label">
          <img src="img/svg/label-3.svg" alt="">
          <p style="color: #CB44FB;">Audit</p>
        </div>
        <h3 class="services-item__title">Incident Response and Digital Forensics</h3>
        <ul class="services-item__list">
          <li>
            <p>Offer incident response services to help clients respond effectively to security incidents, including data breaches, malware infections, or insider threats. Provide expert analysis and investigation to identify the root cause of incidents, contain the damage, and recover from security breaches. Additionally, offer digital forensics services to collect, preserve, and analyze digital evidence for legal proceedings or internal investigations.</p>
          </li>
        </ul>
        <a href="/contact.html" class="btn"><p>Go to <span>/Contact Us:</span></p></a>
      </div>
    </div>
  </div>
</section>

{% endblock %}